@media screen and (max-width: 1200px){
    .nav-wrapper ul.nav li a {
        font-size: 18px !important;
    }

    .left-pov img.bg {
        top: 30px !important;
    }

    .left-pov h1 {
        font-size: 50px !important;
        padding-left: 20px !important;
        padding-top: 120px !important;
    }

    .left-pov p {
        padding: 20px 0 20px 20px !important;
    }

    .left-pov button.btn-override {
        margin-left: 20px !important;
        font-size: 18px !important;
    }

    .left-pov button img{
        height: 14px !important;
    }

    .who-we-are h3 {
        font-size: 20px !important;
    }

    .who-we-are h1 {
        font-size: 36px !important;
    }

    .who-we-are p {
        font-size: 15px !important;
        width: 90% !important;
        margin: auto auto !important;
    }

    .who-we-are img {
        right: -40px;
        width: 360px;
    }
}
@media screen and (max-width: 1024px){
    .nav-wrapper ul.nav li a {
        font-size: 18px !important;
    }

    .left-pov img.bg {
        top: 30px !important;
    }

    .left-pov h1 {
        font-size: 50px !important;
        padding-left: 20px !important;
        padding-top: 120px !important;
    }

    .left-pov p {
        padding: 20px 0 20px 20px !important;
    }

    .left-pov button.btn-override {
        margin-left: 20px !important;
        font-size: 18px !important;
    }

    .left-pov button img{
        height: 14px !important;
    }

    .who-we-are h3 {
        font-size: 20px !important;
    }

    .who-we-are h1 {
        font-size: 36px !important;
    }

    .who-we-are p {
        font-size: 15px !important;
        width: 90% !important;
        margin: auto auto !important;
    }

    .who-we-are img {
        right: -40px;
        width: 360px;
    }
}
@media screen and (max-width: 991px){
    .nav-wrapper ul.nav li a {
        font-size: 11px !important;
    }

    .left-pov img.bg {
        top: 30px !important;
    }

    .left-pov h1 {
        font-size: 35px !important;
        padding-left: 20px !important;
    }

    .left-pov p {
        padding: 20px 0 20px 20px !important;
    }

    .left-pov button.btn-override{
        margin-left: 20px !important;
    }

    .who-we-are h3 {
        font-size: 20px !important;
    }

    .who-we-are h1 {
        font-size: 36px !important;
    }

    .who-we-are p {
        font-size: 12px !important;
        width: 90% !important;
        margin: auto auto !important;
    }

    .who-we-are img {
        right: -40px;
        width: 360px;
    }
}
@media screen and (max-width: 930px){
    .nav-wrapper ul.nav li a {
        font-size: 11px !important;
    }

    .left-pov img.bg {
        top: 30px !important;
    }

    .left-pov h1 {
        font-size: 35px !important;
        padding-left: 20px !important;
    }

    .left-pov p {
        padding: 20px 0 20px 20px !important;
    }

    .left-pov button.btn-override{
        margin-left: 20px !important;
    }

    .who-we-are h3 {
        font-size: 20px !important;
    }

    .who-we-are h1 {
        font-size: 36px !important;
    }

    .who-we-are p {
        font-size: 12px !important;
        width: 90% !important;
        margin: auto auto !important;
    }

    .who-we-are img {
        right: -40px;
        width: 360px;
    }
}
@media screen and (max-width: 850px){
    .nav-wrapper ul.nav li a {
        font-size: 11px !important;
    }

    .left-pov img.bg {
        top: 30px !important;
        left: 0 !important;
    }

    .left-pov h1 {
        font-size: 35px !important;
        padding-left: 20px !important;
    }

    .left-pov p {
        padding: 5px 0 10px 20px !important;
        font-size: 12px !important;
    }

    .left-pov button.btn-override{
        margin-left: 20px !important;
        font-size: 12px !important;
    }

    .left-pov button img {
        height: 8px !important;
    }

    .who-we-are h3 {
        font-size: 20px !important;
    }

    .who-we-are h1 {
        font-size: 36px !important;
    }

    .who-we-are p {
        font-size: 12px !important;
        width: 90% !important;
        margin: auto auto !important;
    }

    .who-we-are img {
        right: -40px;
        width: 360px;
    }
}
@media screen and (max-width: 768px){
    .nav-wrapper ul.nav li a {
        font-size: 11px !important;
    }

    .left-pov img.bg {
        top: 30px !important;
        left: 0 !important;
    }

    .left-pov h1 {
        font-size: 35px !important;
        padding-left: 20px !important;
        padding-top: 70px !important;
    }

    .left-pov p {
        padding: 20px 0 20px 20px !important;
    }

    .left-pov button.btn-override{
        margin-left: 20px !important;
    }

    .who-we-are h3 {
        font-size: 20px !important;
    }

    .who-we-are h1 {
        font-size: 36px !important;
    }

    .who-we-are p {
        font-size: 12px !important;
        width: 90% !important;
        margin: auto auto !important;
    }

    .who-we-are img {
        right: -40px;
        width: 360px;
    }
}
@media screen and (max-width: 640px){

    .header-wrapper{
        height: auto !important;
    }

    .nav-wrapper .nav {
        padding: 38px 0 0 0 !important;
    }

    .header-wrapper .logo img{
        height: 50px !important;
    }

    .nav-wrapper ul.nav li a {
        font-size: 11px !important;
        padding: 0 8px !important;
    }

    .left-pov img.bg {
        bottom: 0 !important;
        top: auto !important;
        left: 0 !important;
    }

    .left-pov h1 {
        font-size: 25px !important;
        padding-left: 20px !important;
        padding-top: 70px !important;
    }

    .left-pov p {
        padding: 10px 0 10px 20px !important;
        font-size: 10px !important;
    }

    .left-pov button.btn-override{
        margin-left: 20px !important;
        font-size: 12px !important;
    }

    .left-pov button img {
        height: 12px;
        vertical-align: unset;
        margin-right: 8px;
    }

    .left-pov button img{
        height: 10px !important;
    }

    .right-pov img{
        margin: 30px auto !important;
    }

    .who-we-are h3 {
        font-size: 20px !important;
    }

    .who-we-are h1 {
        font-size: 36px !important;
    }

    .who-we-are p {
        font-size: 12px !important;
        width: 90% !important;
        margin: auto auto !important;
    }

    .who-we-are img {
        right: -40px;
        width: 360px;
    }
}
@media screen and (max-width: 600px){

    .header-wrapper{
        height: auto !important;
    }

    .nav-wrapper .nav {
        padding: 38px 0 0 0 !important;
    }

    .header-wrapper .logo img{
        height: 50px !important;
    }

    .nav-wrapper ul.nav li a {
        font-size: 11px !important;
        padding: 0 8px !important;
    }

    .left-pov img.bg {
        bottom: 0 !important;
        top: auto !important;
        left: 0 !important;
    }

    .left-pov h1 {
        font-size: 25px !important;
        padding-left: 20px !important;
        padding-top: 70px !important;
    }

    .left-pov p {
        padding: 10px 0 10px 20px !important;
        font-size: 10px !important;
    }

    .left-pov button.btn-override{
        margin-left: 20px !important;
        font-size: 12px !important;
    }

    .left-pov button img {
        height: 12px;
        vertical-align: unset;
        margin-right: 8px;
    }

    .left-pov button img{
        height: 10px !important;
    }

    .right-pov img{
        margin: 30px auto !important;
    }

    .who-we-are h3 {
        font-size: 20px !important;
    }

    .who-we-are h1 {
        font-size: 36px !important;
    }

    .who-we-are p {
        font-size: 12px !important;
        width: 90% !important;
        margin: auto auto !important;
    }

    .who-we-are img {
        right: -40px;
        width: 360px;
    }
}
@media only screen and (max-width: 500px){}
@media screen and (max-width: 520px){
    .header-wrapper{
        height: auto !important;
        border-bottom: none !important;
    }

    .header-wrapper .logo{
        border-bottom: 2px solid #ffd500 !important;
    }

    .header-wrapper .logo img{
        height: 50px !important;
        margin: 13px auto !important;
        display: block;
    }

    .right-pov img{
        height: auto !important;
        margin: 70px 0;
        width: 80% !important;
    }

    .left-pov {
        height: 100% !important;
        padding: 0px 0 30px !important;
        margin: 0 auto 0 !important;
        background-repeat: no-repeat !important;
    }

    .left-pov img.bg{
        top: 0;
        bottom: 0 !important;
        width: 80% !important;
        left: 50% !important;
        transform: translateX(-50%);
    }

    .left-pov h1 {
        text-align: center !important;
    }

    .left-pov p {
        font-size: 15px !important;
        text-align: center !important;
    }

    .left-pov button.btn-override{
        margin: auto auto !important;
        display: block !important;
    }

    .desktop{
        display: none !important;
    }

    .mobile{
        display: block !important;
    }

    .who-we-are h1{
        font-size: 40px !important;
    }

    .who-we-are p{
        width: 100% !important;
    }

    .who-we-are img{
        height: 100% !important;
    }
}
@media screen and (max-width: 420px){

    .header-wrapper{
        height: auto !important;
        border-bottom: none !important;
    }

    .header-wrapper .logo{
        border-bottom: 2px solid #ffd500 !important;
    }

    .header-wrapper .logo img{
        height: 50px !important;
        margin: 13px auto !important;
        display: block;
    }

    .right-pov img{
        height: auto !important;
        margin: 70px 0;
        width: 100% !important;
    }

    .left-pov {
        height: 100% !important;
        padding: 0px 0 30px !important;
        margin: 0 auto 0 !important;
        background-repeat: no-repeat !important;
    }

    .left-pov img.bg{
        bottom: 0 !important;
        width: auto !important;
        height: 100%;
    }

    .left-pov h1 {
        font-size: 35px !important;
        text-align: center !important;
        padding-top: 60px !important;
    }

    .left-pov p {
        font-size: 15px !important;
        text-align: center !important;
    }

    .left-pov button.btn-override{
        margin: auto auto !important;
        display: block !important;
    }

    .desktop{
        display: none !important;
    }

    .mobile{
        display: block !important;
    }

    .who-we-are h1{
        font-size: 40px !important;
    }

    .who-we-are p{
        width: 100% !important;
    }

    .who-we-are img{
        height: auto !important;
    }

}
@media only screen and (max-width : 320px) {

    .header-wrapper{
        height: auto !important;
        border-bottom: none !important;
    }

    .header-wrapper .logo{
        border-bottom: 2px solid #ffd500 !important;
    }

    .header-wrapper .logo img{
        height: 50px !important;
        margin: 13px auto !important;
        display: block;
    }

    .right-pov img{
        height: auto !important;
        margin: 70px 0;
        width: 100% !important;
    }

    .left-pov {
        height: 100% !important;
        padding: 0px 0 30px !important;
        margin: 0 auto 0 !important;
        background-repeat: no-repeat !important;
    }

    .left-pov img.bg{
        bottom: 0 !important;
        width: 100% !important;
    }

    .left-pov h1 {
        font-size: 30px !important;
        text-align: center !important;
    }

    .left-pov p {
        font-size: 15px !important;
        text-align: center !important;
    }

    .left-pov button.btn-override{
        margin: auto auto !important;
        display: block !important;
    }

    .desktop{
        display: none !important;
    }

    .mobile{
        display: block !important;
    }

    .who-we-are h1{
        font-size: 40px !important;
    }

    .who-we-are p{
        width: 100% !important;
    }

    .who-we-are img{
        height: auto !important;
    }
}

.header-wrapper{
    height: 130px;
    background-color: #ffffff;
    border-bottom: 2px solid #ffd500;
}
.header-wrapper .logo img{
    height: 90px;
    margin: 13px 0;
}

.nav-wrapper{

}

.nav-wrapper .nav{
    padding: 67px 20px 0;
    float: right;
}

.nav-wrapper ul.nav li a{
    color: #3e4b4d;
    text-decoration: none;
    padding: 0 15px;
    font-size: 16px;
}

.nav-wrapper ul.nav li{
    position: relative;
}

.nav-wrapper ul.nav li:after{
    content: '';
    border: solid 1px rgba(255, 213, 0, .8);
    position: absolute;
    top: 5px;
    bottom: 3px;
}

.nav-wrapper ul.nav li:last-child:after{
    content: '';
    border: none;
}

.nav-wrapper ul.nav li a:hover,
.nav-wrapper ul.nav li a.active{
    color: #ffd500;
}

.pov{
    padding-top: 40px;
}

.left-pov{
}

.left-pov img.bg{
    position: absolute;
    width: 100%;
    left: -40px;
    bottom: 0;
    z-index: -1;
}

.left-pov h1{
    color: #ffd500;
    padding-top: 140px;
    font-size: 50px;
    font-weight: 400;
}

.left-pov p{
    font-weight: 400;
    padding: 20px 0;
    font-size: 20px;
}

.left-pov button.btn-override{
    background-color: #3e4b4d;
    border-color: #3e4b4d;
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.left-pov button.btn-override:hover{
    color: #fff;
    background-color: #495759;
    border-color: #495759;
}

.left-pov button.btn-override:not(:disabled):not(.disabled):active,
.left-pov button.btn-override:not(:disabled):not(.disabled).active{
    color: #fff;
    background-color: #495759;
    border-color: #495759;
}

.left-pov button.btn-override:not(:disabled):not(.disabled):active:focus,
.left-pov button.btn-override:not(:disabled):not(.disabled).active:focus{
    box-shadow: none;
}

.left-pov button img{
    height: 12px;
    vertical-align: unset;
    margin-right: 8px;
}


.right-pov img{
    width: 100%;
    display: block;
    margin: 50px auto;
}

.who-we-are{
    background-color: #3d719f;
    position: relative;
}

.who-we-are .content{
    position: relative;
    z-index: 9;
    padding: 0 0 20px;
}

.who-we-are h3{
    text-align: center;
    color: #FFF;
    font-weight: 400;
    font-size: 24px;
    position: relative;
    padding-bottom: 20px;
    padding-top: 30px;
}

.who-we-are h3:after{
    content: '';
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1px;
    border-width: 0 0 3px;
    border-style: solid;
}


.who-we-are h1{
    margin-top: 26px;
    margin-bottom: 30px;
    text-align: center;
    color: #ffd500;
    font-size: 56px;
    font-weight: 400;
}

.who-we-are p{
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    width: 94%;
}

.who-we-are button.btn-warning-override{
    margin: 30px auto 0;
    display: block;
    color: #FFF;
    padding: 12px;
    border-radius: 10px;
}

.who-we-are img{
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    height: 100%;
}

/** Animations **/
.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.2s;
}
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.desktop{
    display: block;
}

.mobile{
    display: none;
}

.nav-wrapper.mobile .content nav {
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 60px;
    position: relative;
}
.nav-wrapper.mobile .content .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 999;
}
.nav-wrapper.mobile .content .nav-links::before {
    background: rgba(0, 0, 0, .5);
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    display: none;
    width: 100%;
    transition: all 0.3s;
}
.nav-wrapper.mobile .content .nav-links li {
    border-bottom: 1px solid #ddd;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s;
}
.nav-wrapper.mobile .content .nav-links li a {
    background: #dddddd;
    color: #404040;
    display: block;
    font-size: 18px;
    padding: 12px 20px;
    width: 100%;
    transition: all 0.3s;
    text-align: center;
}
.nav-wrapper.mobile .content .nav-links li a:hover {
    color: coral;
}
.nav-wrapper.mobile input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.nav-wrapper.mobile input[type="checkbox"]:checked + label {
    border: 4px solid #ffd500;
    border-radius: 50%;
    height: 28px;
    top: 16px;
    left: 18px;
    width: 28px;
    transform: rotate(-135deg);
}
.nav-wrapper.mobile input[type="checkbox"]:checked + label::before {
    background: #ffd500;
    top: 8px;
    left: 4px;
    width: 12px;
}
.nav-wrapper.mobile input[type="checkbox"]:checked + label::after {
    background: #ffd500;
    opacity: 1;
    top: 8px;
    left: 4px;
    visibility: visible;
    width: 12px;
}
.nav-wrapper.mobile input[type="checkbox"]:checked + label:hover {
    border-color: #ffd500;
}
.nav-wrapper.mobile input[type="checkbox"]:checked + label:hover::before, input[type="checkbox"]:checked + label:hover::after {
    background: #ffd500;
}

.nav-wrapper.mobile input[type="checkbox"]:checked ~ .nav-links {
    opacity: 1;
    display: block;
}

.nav-wrapper.mobile input[type="checkbox"]:checked ~ .nav-links::before {
    opacity: 1;
    display: block;
}

.nav-wrapper.mobile input[type="checkbox"]:checked ~ .nav-links li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.nav-wrapper.mobile input[type="checkbox"]:checked ~ .nav-links li:nth-child(1) {
    transition-delay: 0s;
}
.nav-wrapper.mobile input[type="checkbox"]:checked ~ .nav-links li:nth-child(2) {
    transition-delay: 0.1s;
}
.nav-wrapper.mobile input[type="checkbox"]:checked ~ .nav-links li:nth-child(3) {
    transition-delay: 0.2s;
}
.nav-wrapper.mobile input[type="checkbox"]:checked ~ .nav-links li:nth-child(4) {
    transition-delay: 0.3s;
}
.nav-wrapper.mobile input[type="checkbox"]:checked ~ .nav-links li:nth-child(5) {
    transition-delay: 0.4s;
}
.nav-wrapper.mobile label {
    background: none transparent;
    border: 4px solid #ffd500;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    cursor: pointer;
    display: block;
    height: 24px;
    position: absolute;
    top: 18px;
    left: 20px;
    width: 24px;
    transition: all 0.2s;
}
.nav-wrapper.mobile label::before {
    background: #ffd500;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 24px;
    transition: all 0.2s;
}
.nav-wrapper.mobile label::after {
    background: #ffd500;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 6px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transform: rotate(90deg);
    transition: all 0.2s;
}

